.body {
    background-color: rgb(1, 141, 223);

}

.submitDiv{
    border-radius: 7px 7px;
    background-color: aliceblue;
    margin-top: 10%;
    height: 300px;
    padding: 40px 50px 50px 50px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.submitDiv h5{
    color: rgb(128, 128, 128);
    margin-bottom: 5%;
    
}