/**  Mammeri Moahmed
 * ===================================================================
 *
 * ------------------------------------------------------------------- 
 */
:root {
  --blue: rgb(1, 141, 223);
  --white: #aliceblue;
}

.body {
    background-color: var(--blue);
    height: 100%;
    overflow: hidden;
}

.submitDiv{
    border-radius: 7px 7px;
    background-color: var(--white);
    margin-top: 10%;
    height: 300px;
    padding: 40px 50px 50px 50px;

    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}

.submitDiv h5{
    color: rgb(128, 128, 128);
    margin-bottom: 5%;

    
}

input {
    padding-left: 10px;
}
/**=========================================*/




#Contact-Section {
    position: relative;
    height: 100%;
}

.hide{
    display: none;
}

.ChatDiv {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    margin-top: 10%;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
    padding: 20px 10px 30px 10px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 81% 100%, 20% 100%, 0 100%, 0% 20%);

}

.ChatDiv h2 {
    border-bottom: 1px solid var(--blue);
    text-align: center;
    padding: 15px;
    color: var(--blue);
}

#Messages {
    list-style-type: none;
    background-color: var(--white);
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 2 15px 2px 15px;
    height: calc(100% - 150px);
}

 #Contact_Form {
    padding-top: 25px;
}

#Messages li {
    border-bottom: 1px solid solid var(--blue);
    line-height: 1.7rem;
    padding: 10px 20px;
    margin: 0;
}




.MessageInput {
    float: left;
    height: 45px;
    width: calc(100% - 85px);
}

#SendBtn {
    float: right;
    width: 10%;
    height: 45px;
    margin-left: 3px;
    border-radius: 0px 15px 15px 0px;

}


/*======================= Media Screen ===========================*/

@media screen and (max-width: 730px) {

    .ChatDiv {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .ChatDiv {
        height: calc(100% - 30px);
    }

    #Messages {
        height: calc(100% - 120px);
    }
}

footer{
    margin-left: 35%;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 28%;
    background-color: rgb(200, 242, 253);
    border-radius :50px 50px 0px 0px;
    padding: 2px 15px 2px 25px;
    font-size: 1.2rem;
    
}

footer a svg{
    margin-left: 22px;
    text-decoration: none;
}






 /*------------*/
/*========================== snow animation =================*/
@import url('https://fonts.googleapis.com/css?family=Corben:700');


.hero {
	
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	
	
}

.snow {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    
}


.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
    
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}


#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}
/*================== End snow animation ===========*/